{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>EduVillage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>

    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</nav>

<hr>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
