{% extends 'core/base_instructor.html' %}

{% block content %}

<h3>Instructor Calendar</h3>

<div id="calendar" style="height:700px;background:white;border-radius:10px;"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: [
            { title: 'Demo Class', start: '2026-02-02' },
            { title: 'Demo Assignment', start: '2026-02-05' }
        ]
    });

    calendar.render();
});
</script>

{% endblock %}
