{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="edit-profile-container">

    <h2>Edit Profile</h2>

    <form method="POST" enctype="multipart/form-data" class="edit-profile-form">
        {% csrf_token %}

        <fieldset>
            <legend>Account Information</legend>
            {{ user_form.as_p }}
        </fieldset>

        <fieldset>
            <legend>Profile Details</legend>
            {{ profile_form.as_p }}
        </fieldset>

        <button type="submit" class="btn-save">Save Changes</button>
        <a href="{% url 'profile' %}" class="btn-cancel">Cancel</a>
    </form>

</div>
{% endblock %}
